<a href="https://colab.research.google.com/github/sunil-01/MSC-I-FDS-509/blob/main/Practical_7_Discriptive_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/stats.csv')

In [ ]:
df

        Name  Salary Country
0        Dan   40000     USA
1  Elizabeth   32000  Brazil
2        Jon   45000   Italy
3      Maria   54000     USA
4       Mark   72000     USA
5       Bill   62000  Brazil
6       Jess   92000   Italy
7      Julia   55000     USA
8       Jeff   35000   Italy
9        Ben   48000  Brazil

# Measure of Central Tendancy

In [ ]:
# Mean Salary
mean1=df['Salary'].mean()
mean1

53500.0

In [ ]:
#Sum of Salaries
sum1=df['Salary'].sum()
sum1

535000

In [ ]:
#Maximum Salary
max1=df['Salary'].max()
max1

92000

In [ ]:
#Minimum Salary
min1=df['Salary'].min()
min1

32000

In [ ]:
#Total count

count1=df['Salary'].count()
count1

10

In [ ]:
#Median
median=df['Salary'].median()
median

51000.0

In [ ]:
#Mode
mode1=df['Salary'].mode()
mode1

0    32000
1    35000
2    40000
3    45000
4    48000
5    54000
6    55000
7    62000
8    72000
9    92000
dtype: int64

In [ ]:
countrywise_sum=df.groupby(['Country'])['Salary'].sum()
countrywise_sum

Country
Brazil    142000
Italy     172000
USA       221000
Name: Salary, dtype: int64

In [ ]:
countrywise_count=df.groupby(['Country']).count()
countrywise_count

         Name  Salary
Country
Brazil      3       3
Italy       3       3
USA         4       4

# Measure of variability

In [ ]:
#variance of salaries
var1=df['Salary'].var()
var1

332055555.5555556

In [ ]:
#standard deviation
std1=df['Salary'].std()
std1

18222.391598128816

# Measure of Symmetry

In [ ]:
skew1=df.skew(axis=0, skipna=True)
skew1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Salary    1.021551
dtype: float64

In [ ]:
#The skewness is positive so x will have right side tail.
df.describe()

             Salary
count     10.000000
mean   53500.000000
std    18222.391598
min    32000.000000
25%    41250.000000
50%    51000.000000
75%    60250.000000
max    92000.000000