<a href="https://colab.research.google.com/github/sunil-01/MSC-I-FDS-509/blob/main/Practical_8_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import ttest_1samp
from statsmodels.stats.power import tt_ind_solve_power

T test A t test is inferntial statistics which is used to determine if there is a significant difference betweenthe means of two groups which may be related in certain features

T-test has 2 types: 1) One sampled t test 2) Two sampled t test

t= (sample mean - population mean) / standard error

In [ ]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [ ]:
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [ ]:
#Lets take sample
sample_size=10
age_sample=np.random.choice(ages,sample_size)
age_sample

array([28, 16, 16, 43, 35, 27, 24, 10, 18, 16])

In [ ]:
from scipy.stats import ttest_1samp

In [ ]:
ttest,p_value=ttest_1samp(age_sample,30)

In [ ]:
print(p_value)

0.0663276542607543

In [ ]:
if p_value < 0.05:
    print("We are rejecting null hypothesis")
else:
    print("We are accepting null hypothesis")

We are accepting null hypothesis